h1 {
    text-align: center;
}

.button {
    background-color: white; /* Green */
    border: 2px solid #4CAF50; /* Green */;
    padding: 36px 42px;
    color: black;
    text-align: center;
    font-size: 16px;
}

#p2 {
display: none;
}

#p3 {
display: none;
}

#p4 {
display: none;
}

#p5 {
display: none;
}

#p6 {
display: none;
}

#p7 {
display: none;
}

#p8 {
display: none;
}

#answers {
display: none;    
}

#p9 {
display: none;
}

#p10 {
display: none;
}

#p11 {
display: none;
}

#p12 {
display: none;
}

#p13 {
display: none;
}

#p14 {
display: none;
}

#p15 {
display: none;
}
